header{
  background-color: #24AAC7;
  width: 100%;
  height: 150px;
}

.photo{
  float: left;
  width: 35%;
height: 80px;
}
.center{
  width: 100%;
  height: 500px;
  background-color: #F1F1F2;
  float: left;
  text-align: center;
}
footer{
  background-color: #24AAC7;
  width: 100%;
  height: 125px;
  float: left;
}
nav{
  float: left;
}
#profilPage, #profilPage ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#profilPage{
  text-align: left;
  float: left;
  padding: 40px;
}
#profilPage a {
    text-decoration: none;
    display: block;
	color:#000;
}
#profilPage ul {
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;
    border: 1px solid grey;
}
#profilPage li:hover ul {
    left: auto;
  }
#formationPage, #formationPage ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
#formationPage{
  text-align: center;
  float: left;
  padding: 40px;
}
#formationPage a{
  text-decoration: none;
  display: block;
  color: #000;
}
#formationPage ul{
  position: absolute;
  left: -999em;
  text-align: left;
  z-index: 1000;
}
#formationPage li:hover ul{
  left: auto;
}
.generalProfil{
  float: left;
}
